@model IEnumerable<QuestStore.Models.Quests>

@{
    ViewData["Title"] = "Quests";
    ViewData["ShowButtons"] = true;
}

<h1>All quests list</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Mentor"))
{
    <p align="right">
        <a asp-action="Create">Create New</a>
    </p>
}
else
{
    <h4 align="right" style="color:navy">
        <a asp-action="MyQuests">My Quests</a>
    </h4>
}
<partial name="_DisplayQuestsPartial" view-data="ViewData" />
