@model QuestStore.Models.Quests

@{
    ViewData["Title"] = "SignOn";
}
<br/>
@if (ViewData["Exists"] is true)
{
    <h1 style="color: red" align="center">You are already on that quest!</h1>
}
else
{
    <h1 align="center">You're now on this quest!</h1>
}

<br/>
<br/>
<h3>Good luck and have fun!</h3>
<br/>
<div>
    <h4>@ViewData["QuestTitle"]</h4>
    <hr />
    <dl class="row">
    </dl>

    <a asp-action="Index">Back to List</a>
</div>
