@model QuestStore.Models.Quests

@{
    ViewData["Title"] = "SignOn";
}

@if (ViewData["Exists"] is true)
{
    <h1 style="color: red">You are already on that quest!</h1>
}
else
{
    <h1>You're now on this quest!</h1>
}

<h3>Good luck and have fun!</h3>
<div>
    <h4>@ViewData["QuestTitle"]</h4>
    <hr />
    <dl class="row">
    </dl>

    <a asp-action="Index">Back to List</a>
</div>
