@model Tuple<List<Users>, List<UsersTech>, List<Technologies>>

@{
    ViewData["Title"] = "Details";
}

<h1>Group members</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Gender
        </th>
        <th>
            Technologies
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (Users item in Model.Item1) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @String.Join(", ",
                    Model.Item3.Where(
                        i => Model.Item2.Where(
                            x => x.UserId == item.UserId)
                            .Select(x => x.TechId)
                            .ToList()
                            .Contains(i.TechId))
                        .Select(i => i.Name))
            </td>
        </tr>
    }
    </tbody>
</table>
@if(!User.IsInRole("Student"))
{
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
